{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Biometric Typing Analysis System</h1>
    <form action="/analyze_keystrokes" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="typingData" class="form-label">Please type the text below and press submit:</label>
            <p id="targetString" class="fs-5">Lorem ipsum</p>
            <textarea id="typingData" name="typingData" class="form-control" rows="4" required></textarea>
            <div class="invalid-feedback">Please type the required text.</div>
        </div>
        <div class="text-center">
            <!-- Temporary fix for submit button to avoid double-rendering issue caused by Flask-WTF -->
            <input type="submit" class="btn btn-primary" value="Send Data">
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='static.js') }}"></script>
{% endblock %}
