{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <form id="typingForm" action="/" method="post" class="needs-validation" novalidate>
        <div id="phraseCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <h2 class="display-6">Please type the following phrase:</h2>
                        <p class="lead" id="phraseToType">{{ typing_phrase }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <input type="text" id="typingData" name="typingData" class="form-control" required
                   placeholder="Type here and press Enter">
            <div class="invalid-feedback">Please type the required text.</div>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='static.js') }}"></script>
{% endblock %}
