{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- SVG Icon and Title above the card -->
            <img alt="Biometric Typing Analysis Logo" src="{{ url_for('static', filename='favicon.svg') }}"
                 style="width: 80px; height: 80px; margin-bottom: 1rem;">
            <h3 class="mb-4 text-white">Sign in to Biometric Typing Analysis</h3>

            <div class="card shadow-lg p-4">
                <div class="card-body">
                    <!-- Start of the form with floating labels -->
                    <form class="needs-validation" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <!-- Email field with floating label and error message -->
                        <div class="form-floating mb-3">
                            {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else ""),
                            id="floatingInput", placeholder="Username or email address") }}
                            {{ form.email.label(class="form-label", for="floatingInput") }}
                            {% for error in form.email.errors %}
                            <div class="invalid-feedback text-start">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <!-- Password field with floating label and error message -->
                        <div class="form-floating mb-3">
                            {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""),
                            id="floatingPassword", placeholder="Password") }}
                            {{ form.password.label(class="form-label", for="floatingPassword") }}
                            {% for error in form.password.errors %}
                            <div class="invalid-feedback text-start">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <!-- Submit button -->
                        <div class="d-grid mb-3">
                            <input class="btn btn-success btn-lg" type="submit" value="Sign in">
                        </div>
                    </form>
                    <!-- Links for forgot password and creating a new account -->
                    <div class="text-center mt-3">
                        <a class="text-secondary" href="#">Forgot password?</a>
                        <hr>
                        <p>New to Biometric Typing Analysis? <a class="link-primary"
                                                                href="{{ url_for('auth.register') }}">Create
                            an account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
